    * {
        margin: 0;
        padding: 0;
    }
    
    .container {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
    }
    
    .page-header {
        width: 100%;
        background: #222222;
        min-height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 18px 0;
        box-sizing: border-box;
    }
    
    .page-header button {
        display: block;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
    }
    
    .page-header svg {
        width: 100%;
        height: 100%;
        fill: #E8E8E8;
    }
    
    .page-header-wrp-btn-wrp {
        display: flex;
        justify-content: space-between;
    }
    
    .page-header-wrp-btn {
        width: 111px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    
    .page-header-wrp-btn:nth-child(2) {
        width: 168px;
    }
    
    .page-header-logo {
        display: block;
        width: 44px;
        height: 38px;
        text-decoration: none;
        color: #fff;
    }
    
    .page-header-search-form {
        width: 26px;
        min-height: 26px;
        position: relative;
    }
    
    .page-header-search-form:hover svg {
        fill: orange;
    }
    
    .page-header-search-btn {
        width: 0;
        min-height: 0;
        padding: 5px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        position: absolute;
        top: -1px;
        left: 30px;
        color: #fff;
        font-size: 16px;
        font-family: Arial;
        text-transform: capitalize;
    }
    
    .page-header-search-btn:focus {
        width: 150px;
        min-height: 20px;
        transition: width 1s ease;
        border: 2px solid #fff;
    }
    
    .page-header-search-btn:focus~label>svg {
        fill: green;
    }
    
    .page-header-search-btn:active~label>svg {
        fill: red;
    }
    
    .menu-btn {
        display: flex;
        padding: 0;
        margin: 0;
        width: 32px;
        height: 32px;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .menu-btn:hover .menu-btn-item,
    .menu-btn:hover .menu-btn-item::before,
    .menu-btn:hover .menu-btn-item::after {
        background-color: orange;
    }
    
    .menu-btn:active .menu-btn-item,
    .menu-btn:active .menu-btn-item::before,
    .menu-btn:active .menu-btn-item::after {
        background-color: red;
    }
    
    .menu-btn-item {
        margin: auto;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #E8E8E8;
        position: relative;
    }
    
    .menu-btn-item::before,
    .menu-btn-item::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background-color: #E8E8E8;
        position: absolute;
        left: 0;
    }
    
    .menu-btn-item::before {
        top: -10px;
    }
    
    .menu-btn-item::after {
        top: 10px;
    }
    
    .account-btn svg {
        width: 29px;
        height: 29px;
    }
    
    .account-btn:hover svg {
        fill: orange;
    }
    
    .account-btn:active svg {
        fill: red;
    }
    
    .cart-btn svg {
        width: 32px;
        height: 29px;
    }
    
    .cart-btn:hover svg {
        fill: orange
    }
    
    .cart-btn:active svg {
        fill: red;
    }
    
    .brand {
        color: #222222;
        background-color: #F1E4E6;
        font-family: Lato;
    }
    
    .brand-wrap {
        height: 764px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url(img/brand-img.png);
        background-repeat: no-repeat;
        background-position: left center;
    }
    
    .brand-title-wrp {
        margin: 0 0 0 50px;
        text-transform: uppercase;
        position: relative;
    }
    
    .brand-title-wrp::before {
        content: "";
        display: block;
        width: 12px;
        height: 92px;
        background-color: #f16d7f;
        position: absolute;
        top: -1px;
        left: -28px;
    }
    
    .brand-title {
        margin: 0;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }
    
    .brand-subtitle {
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    
    .brand-subtitle span {
        color: #f16d7f;
    }
    
    .categories {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1140px;
        margin: 65px auto 0 auto;
        font-family: Lato;
    }
    
    .categories-item {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        width: 360px;
        min-height: 260px;
        margin: 0 30px 30px 0;
        background-size: cover;
        background-position: center;
    }
    
    .categories-item-title {
        color: #F16D7F;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    
    .categories-item:nth-child(1) {
        background-image: url('img/for-women.jpg');
    }
    
    .categories-item:nth-child(2) {
        background-image: url('img/for-men.jpg');
    }
    
    .categories-item:nth-child(3) {
        background-image: url('img/for-kids.jpg');
    }
    
    .categories-item:last-child {
        width: 100%;
        background-image: url('img/accesories.jpg');
    }
    
    .categories-item:nth-child(4n-1),
    .categories-item:last-child {
        margin: 0 0 30px;
    }
    
    .categories-item-title,
    .categories-item-subtitle {
        display: block;
        width: 100%;
        text-transform: uppercase;
        font-style: normal;
        text-align: center;
    }
    
    .categories-item-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    
    .products {
        width: 100%;
        max-width: 1140px;
        margin: 104px auto 0 auto;
        font-family: Lato;
    }
    
    .products-title-wrp {}
    
    .products-wrp {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .products-title {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }
    
    .products-subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        margin: 6px 0 48px 0;
    }
    
    .products-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 360px;
        min-height: 581px;
        margin: 0 30px 30px 0;
        background-color: #F8F8F8;
    }
    
    .products-item:nth-child(3n) {
        margin: 0 0 30px;
    }
    
    .products-item-wrp {
        padding: 25px 29px 20px 18px;
        box-sizing: border-box;
    }
    
    .products-item-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        text-transform: uppercase;
    }
    
    .products-item-txt {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin: 13px 0 18px;
    }
    
    .products-item-price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }
    
    .products-btn {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #F26376;
        padding: 15px 39px;
        box-sizing: border-box;
        border: 1px solid #FF6A6A;
        background-color: transparent;
        word-break: break-all;
    }
    
    .products-btn:hover {
        background-color: #fff;
        color: #000;
    }
    
    .products-btn:active {
        background-color: #fff;
        color: #F26376;
    }
    
    .products-btn-wrp {
        display: flex;
        justify-content: center;
        margin: 48px 0 87px 0;
    }
    
    .features {
        height: 341px;
        font-family: Lato;
        background-color: #222224;
        padding: 104px 0;
        box-sizing: border-box;
    }
    
    .features-inner {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    
    .features-item-icon {
        fill: #F16D7F;
    }
    
    .features-item {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .features-item-title {
        margin: 28px 0 16px;
        font-weight: 400;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .features-item-txt {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        opacity: 50%;
    }
    
    .subscribe {
        background-image: url(img/subscribe.jpg);
        background-repeat: no-repeat;
        background-position: center;
        font-family: Lato;
    }
    
    .subscribe-wrp {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 97px 30px 126px 30px;
        box-sizing: border-box;
    }
    
    .subscribe-info {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .subscribing {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .subscribe-info-avatar {
        height: 100px;
        width: 100px;
        background-image: url(img/face.png);
        background-repeat: no-repeat;
        margin-bottom: 30px;
    }
    
    .subscribe-info-txt {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }
    
    .subscribing-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
    }
    
    .subscribing-subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
        margin: 0 0 32px;
    }
    
    .subscribing-form {
        display: flex;
    }
    
    .subscribing-form-email {
        width: 256px;
        height: 49px;
        border: none;
        background-color: #E1E1E1;
        border-radius: 25px 0 0 25px;
        padding: 7px 0 6px 22px;
        box-sizing: border-box;
    }
    
    .subscribing-form-btn {
        height: 49px;
        width: 100px;
        border: none;
        background-color: #F16D7F;
        border-radius: 0 25px 25px 0;
        padding: 7px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    
    .subscribing-form-btn:hover {
        background-color: #fff;
        color: #F16D7F;
    }
    
    .subscribing-form-btn:active {
        background-color: #F16D7F;
        color: #fff;
    }
    
    input::-webkit-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;
    }
    
    .page-footer {
        min-height: 79px;
        background: #222224;
        padding: 20px 235px;
        box-sizing: border-box;
    }
    
    .page-footer-inner {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .page-footer-txt {
        font-family: Lato;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    
    .page-footer-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 148px;
    }
    
    .page-footer-socials-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: #fff;
    }
    
    .page-footer-socials-item svg {
        fill: #000;
    }
    
    .page-footer-socials-item:hover svg {
        fill: #F16D7F;
    }
    
    .page-footer-socials-item:active {
        background-color: #F16D7F;
    }
    
    .page-footer-socials-item:active svg {
        fill: #fff;
    }